page-home {
    img {
        min-width: 100%;
        min-height: 100%;
        background-image: url(../assets/imgs/loading.gif);
        background-repeat: no-repeat;
        background-position: center;
    }
    
    ion-content .scroll-content{
        background: #000000;
    }

    ion-title {        
        span {
            font-size: 0.7em;
        }
    }
    
    .zorg-filter {
        max-width: 115px;
    }
    
    .zorg-navigate-button {
        max-width: 15px;
    }

    .badge-filter-selected {
        position: absolute;
        right: 0px;
        background: orange;
        color: white;
        width: 13px;
        height: 13px;
        border-radius: 100%;
        top: 3px;
    }

    .item {        
        display: -webkit-box;        
        display: -ms-flexbox;        
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;                
        -ms-grid-column: auto;                
            grid-column-start: auto;
        -ms-grid-row: auto;
            grid-row-start: auto;
        color: #fff;                
        -webkit-transition: -webkit-transform 0.3s ease-in-out;                
        transition: -webkit-transform 0.3s ease-in-out;                
        -o-transition: transform 0.3s ease-in-out;                
        transition: transform 0.3s ease-in-out;                
        transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
        cursor: pointer;
        counter-increment: item-counter;
        position: relative;

        &__details {
            position: absolute;
            z-index: 1;            
            color: #444;
            background: #0a6f91;
            color: white;
            text-align: center;
            text-shadow: 2px 2px 2px black;
            -webkit-box-shadow: 2px 2px 4px black;
            box-shadow: 2px 2px 4px black;
            width: 100%;
            transform: rotate(45deg);
            top: 10%;
            right: -30%;

            &.ultra-hd{
                background : color($colors, light);
            }
        }
    }

    @media screen and (min-width: 0px) and (max-width: 240px) {
        .zorg-movies-list {
            display: -ms-grid;            
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
            grid-auto-rows: 220px;
            grid-auto-flow: row dense;

            .item {        
                max-width: 200px;
            }
        }
    }

    @media screen and (min-width: 241px) and (max-width: 768px) {
        .zorg-movies-list {
            display: -ms-grid;
            display: grid;          
            grid-template-columns: repeat(auto-fit, minmax(105px, 1fr));
            grid-auto-rows: 180px;
            grid-auto-flow: row dense;

            .item {        
                max-width: 160px;
            }
        }
    }

    @media screen and (min-width: 769px) and (max-width: 1200px) {
        .zorg-movies-list {
            display: -ms-grid;
            display: grid;          
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            grid-auto-rows: 200px;
            grid-auto-flow: row dense;
            
            .item {        
                max-width: 180px;
            }
        }
    }

    @media screen and (min-width: 1201px) and (max-width: 2880px) {
        .zorg-movies-list {
            display: -ms-grid;
            display: grid;          
            grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
            grid-auto-rows: 250px;
            grid-auto-flow: row dense;

            .item {        
                max-width: 230px;
            }
        }
    }    

    @media screen and (min-width: 2881px) {
        .zorg-movies-list {
            display: -ms-grid;
            display: grid;          
            grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
            grid-auto-rows: 280px;
            grid-auto-flow: row dense;

            .item {        
                max-width: 260px;
            }
        }
    }
}