page-admin { 
    .movie-list {
        background-color: color($colors, white);        
    }

    .movie-item:nth-child(odd) {
        background-color: rgba(133, 62, 106, 0.2);
    } 

    .doublon-item{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        background: color($colors, white);
        color: black;
        padding: 10px;
        font-size: 1.5em;        
        align-items: center;
        word-break: break-all;

        .item-content {
            flex: 1;
            p {
                color:color($colors, primary);
            }
        }
        .actions {
            flex: none;
            padding: 5px;
        }
    }
    
}
